-var questsClasses = "'active': quest.state === 'active', 'lapsed': quest.state === 'off-date', 'completed': quest.state === 'completed', 'block': quest.state == 'block', 'new': quest.state == 'new'"
.ht-quests-list
    .ht-quest-list__container
        uib-tabset(active="active")
            uib-tab(index="0" heading="{{::'QUESTS.tabs.all' | translate}}")
                .ht-quest-list__wrapper(ng-repeat="quest in quests track by $index")
                    .ht-quest-list__row.col-xs-12(ng-click="showDetailQuests = !showDetailQuests; isActive != isActive" ng-class="{'quest-active': isActive, 'close': !isActive, #{questsClasses}} ")
                        .ht-quest-list__img-wrapper.col-xs-12(ng-click="isOpen = !isOpen" ng-class="{'open': isOpen}")
                            .ht-quest-list__img-holder.col-xs-2
                                .ht-quest-list__default-image(ng-show="!quest.img")
                                    p.ht-quest-list__number-quests {{ $index+1 }}
                                .ht-quest-list__quest-image
                                    img.ht-quest-list__img(ng-src="{{ quest.img }}" ng-class="{ #{questsClasses}}")
                                    img.ht-quest-list__img-disable(ng-show="quest.state == 'off-date'" ng-src=require("./images/simbol-offdate.svg"))
                                    img.ht-quest-list__img-bloked(ng-show="quest.state == 'block'" ng-src=require("./images/simbol-block.svg"))
                                    img.ht-quest-list__img-completed(ng-show="quest.state == 'completed'" ng-src=require("./images/simbol-check.svg"))
                            .ht-quest-list__text-holder.col-xs-10
                                .ht-quest-list__title(ng-class="{ #{questsClasses}}") {{ quest.name }}
                                .ht-quest-list__date
                                    span {{ quest.expires }}
                                .ht-quest-list__progressbar
                                    ng-transclude
                                        c-progressbar(steps="quest.steps" current-step="0")
                        .ht-quest-list__actual-step.col-xs-12(ng-show="showDetailQuests" ng-if="quest.state !== 'block'")
                            .quest-step.row(ng-repeat="step in quest.steps track by $index")
                                .col-xs-2.bullet
                                    .bullet-step-complete(ng-show="step.complete && step.state != 'disabled'")
                                        img(ng-src=require("./images/simbol-check-quest.svg"))
                                    .bullet-step(ng-show="!step.complete && step.state != 'disabled'")
                                        img(ng-src=require("./images/simbol-point.svg"))
                                    .bullet-step-disabled(ng-if="step.state === 'disabled'")
                                .col-xs-10.title-step
                                    //span.quest-step__name.animated.bounceIn(ng-class="{ 'c-red': !step.complete, 'c-green': step.complete }") {{step.title}}
                                    span.quest-step__name.animated.bounceIn {{step.title}}
                                        a(href="{{ step.url }}")
                                            img(ng-if="step.url" ng-show="quest.state == 'active' || quest.state == 'new'" ng-src=require("./images/simbol-link.svg"))
                                        a(href="{{ step.url }}")
                                            img(ng-if="step.url" ng-show="quest.state == 'off-date' || quest.state == 'completed'" ng-src="")
                        .col-xs-12.limit-quests
            uib-tab(index="$index + 1" heading="{{::'QUESTS.tabs.inscription' | translate}}")
                //TODO Por hacer la l贸gica cuando este la llamada
                p Por hacer la l贸gica cuando este la llamada
            uib-tab(index="$index + 2" heading="{{::'QUESTS.tabs.signed' | translate}}")
                //TODO Por hacer la l贸gica cuando este la llamada
                p Por hacer la l贸gica cuando este la llamada