c-button-close
c-profile-full(
image="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png"
id="8946352"
points="24234"
dynamic="dynamic"
type='type'
name="Fernando Garcia"
username="sativonz"
email="fgarcia@hooptap.com"
imagegender="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Mars_symbol.svg/50px-Mars_symbol.svg.png"
imageverified="https://cdn2.iconfinder.com/data/icons/web-and-mobile-ui-volume-5/48/234-512.png"
city="Valencia"
country="España"
direction="Av. Del Cid 30"
postal-code="46018"
)