c-button-close
c-customer-nav(ng-if="!$root.customer.logged")
c-profile-full(ng-if="$root.customer.logged"
image="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png"
id="8946352"
dynamic="dynamic"
type='type'
image-gender="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Mars_symbol.svg/50px-Mars_symbol.svg.png"
image-verified="https://cdn2.iconfinder.com/data/icons/web-and-mobile-ui-volume-5/48/234-512.png"
city="Valencia"
country="España"
direction="Av. Del Cid 30"
postal-code="46018"
actual-level="3"
)

