-var allViewsFalse = "!$root.WPFviewBadges && !$root.WPFviewMarkerSU && !$root.WPFviewQuests && !$root.WPFviewRanking && !$root.WPFviewEditProfile && !$root.WPFviewGameRoom"
-var bodyStyle = "'viewStyle': $root.WPFviewBadges || $root.WPFviewMarkerSU || $root.WPFviewQuests || $root.WPFviewRanking || $root.WPFviewEditProfile || $root.WPFviewGameRoom"

c-button-menu(ng-if="$root.logged && #{allViewsFalse}" show-quests="true" show-badges="true" show-ranking="true" show-level="false" show-global-feed="false" show-marketplace="false" show-edit-profile="true" show-game-room="true")
c-button-close
c-customer-nav(ng-if="!$root.logged")
.ht-profile-widget-full(ng-if="$root.logged")
    .profile-widget-full__container
        c-widget-header(ng-if="#{allViewsFalse}")
        c-profile-header(ng-if="showScoreUnits && #{allViewsFalse}")
        .row.wrapper-components(ng-class="{#{bodyStyle}, 'defaultStyle': $root.WPFviewDefault}")
            .wrapper__score-units.row(ng-if="showScoreUnits && #{allViewsFalse}")
                c-marker-display(options="$root.scoreDisplayConfig")
            .wrapper__level.row(ng-if="showLevel && #{allViewsFalse}")
                .wrapper__levels-title {{ 'LEVELS.title' | translate }}
                .col-xs-2.not-padding
                    img(ng-src="http://test.wednesdaynighthop.com/wordpress/wp-content/uploads/2015/03/level-1-icon.png")
                    p.name-actual-level Soldier
                .col-xs-10
                    .col-xs-3
                        img.img-next-level(ng-src="https://www.dharmamerchantservices.com/wp-content/uploads/2015/05/level-2-icon.png")
                    .col-xs-9.not-padding
                        p.title-next-level {{ 'LEVELS.nextLevel' | translate }}:
                        p.name-next-level Guardian
                    .col-xs-12(ng-if="showProgressBar")
                        .progressbar2
                            .progressbar2-actual
                                p.center 60%
                            .progressbar2-next
                                p.center 40%
            .wrapper__gf.row(ng-if="showGlobalFeed && #{allViewsFalse}")
                .wrapper__gf-title {{ 'GLOBAL_FEED.title' | translate }}
                c-game-global-feed
            .wrapper__badges-component.row(ng-if="$root.WPFviewBadges")
                c-button-back(ng-click="$root.WPFviewBadges = !$root.WPFviewBadges")
                c-widget-header(title="{{'BADGES.title' | translate}}")
                c-badges-grid
            //.wrapper__su-component.row(ng-if="$root.WPFviewMarkerSU")
            //    c-button-back(ng-click="$root.WPFviewMarkerSU = !$root.WPFviewMarkerSU")
            //    c-marker-list-su
            .wrapper__quests-component.row(ng-if="$root.WPFviewQuests")
                c-button-back(ng-click="$root.WPFviewQuests = !$root.WPFviewQuests")
                c-widget-header(title="{{ 'QUESTS.title' | translate }}")
                c-quests-list
            .wrapper__ranking-component.row(ng-if="$root.WPFviewRanking")
                c-button-back(ng-click="$root.WPFviewRanking = !$root.WPFviewRanking")
                c-widget-header(title="{{ 'RANKING.titleList' | translate }}")
                c-ranking-list
            .wrapper__edit-profile.row(ng-if="$root.WPFviewEditProfile")
                c-button-back(ng-click="$root.WPFviewEditProfile = !$root.WPFviewEditProfile")
                c-widget-header(title="{{ 'CUSTOMER.update.title' | translate }}")
                c-customer-update
            .wrapper__game-room.row(ng-if="$root.WPFviewGameRoom")
                c-button-back(ng-click="$root.WPFviewGameRoom = !$root.WPFviewGameRoom")
                c-game-room(show-desc="true" show-title="true")

