-var allViewsFalse = "!$root.WPFviewBadges && !$root.WPFviewMarkerSU && !$root.WPFviewQuests && !$root.WPFviewRanking && !$root.WPFviewEditProfile && !$root.WPFviewGameRoom && !$root.WPFviewLevelList"
-var bodyStyle = "'viewStyle': $root.WPFviewBadges || $root.WPFviewMarkerSU || $root.WPFviewQuests || $root.WPFviewRanking || $root.WPFviewEditProfile || $root.WPFviewGameRoom || $root.WPFviewLevelList"

c-button-menu(ng-if="$root.logged && #{allViewsFalse}" title-game-room="menuOptions.titleGameRoom" show-quests="menuOptions.showQuests" show-badges="menuOptions.showBadges" show-rankings="menuOptions.showRankings" show-level="menuOptions.showLevel" show-global-feed="menuOptions.showGlobalFeed" show-marketplace="menuOptions.showMarketplace" show-edit-profile="menuOptions.showEditProfile" show-game-room="menuOptions.showGameRoom")
c-button-close
c-customer-nav(ng-if="!$root.logged")
.ht-profile-widget-full(ng-if="$root.logged")
    .profile-widget-full__container
        c-widget-header(ng-if="#{allViewsFalse}")
        c-profile-header(ng-if="showProfileHeader && #{allViewsFalse}" edit-profile="editProfile")
        .wrapper-components(ng-class="{#{bodyStyle}, 'defaultStyle': $root.WPFviewDefault}")
            .wrapper__score-units.row(ng-if="showMarker && #{allViewsFalse}")
                c-marker-display(options="$root.scoreDisplayConfig")
            .wrapper__level.row(ng-if="levelRow.showModule && #{allViewsFalse}" ng-repeat="level in $root.customer.levels")
                c-level-row(show-progress-bar-level="levelRow.showProgressBarLevel" level="level")
            .wrapper__gf.row(ng-if="showGlobalFeed && #{allViewsFalse}")
                .wrapper__gf-title {{ 'GLOBAL_FEED.title' | translate }}
                c-game-global-feed
            .wrapper__badges-component(ng-if="$root.WPFviewBadges")
                c-button-back(ng-click="$root.WPFviewBadges = !$root.WPFviewBadges")
                c-widget-header(title="{{'BADGES.title' | translate}}")
                c-badges-grid
            .wrapper__quests-component(ng-if="$root.WPFviewQuests")
                c-button-back(ng-click="$root.WPFviewQuests = !$root.WPFviewQuests")
                c-widget-header(title="{{ 'QUESTS.title' | translate }}")
                c-quests-list
            .wrapper__ranking-component(ng-if="$root.WPFviewRanking")
                c-button-back(ng-click="$root.WPFviewRanking = !$root.WPFviewRanking")
                c-widget-header(title="{{ 'RANKING.titleList' | translate }}")
                c-ranking-list
            .wrapper__edit-profile(ng-if="$root.WPFviewEditProfile")
                c-button-back(ng-click="$root.WPFviewEditProfile = !$root.WPFviewEditProfile")
                c-widget-header(title="{{ 'CUSTOMER.update.title' | translate }}")
                c-customer-update
            .wrapper__game-room(ng-if="$root.WPFviewGameRoom")
                c-button-back(ng-click="$root.WPFviewGameRoom = !$root.WPFviewGameRoom" ng-if="!$root.WPFviewGRdetail")
                c-game-room(show-desc="true" show-title="true")
            .wrapper__level-list(ng-if="$root.WPFviewLevelList")
                c-button-back(ng-click="$root.WPFviewLevelList = !$root.WPFviewLevelList" ng-if="$root.WPFviewLevelList")
                c-widget-header(title="{{ 'SCOREUNITS.title' | translate }}")
                c-marker-list-su
.footer-shadow(ng-if="$root.logged")

