c-button-close
c-member-nav(ng-if="!$root.logged")
c-profile-advanced(ng-if="$root.logged"
image="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png"
id="8946352"
points="24234"
dynamic="dynamic"
type='type'
imagegender="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Mars_symbol.svg/50px-Mars_symbol.svg.png"
imageverified="http://www.iconsdb.com/icons/preview/green/checked-checkbox-xxl.png")